#
# ***********************
# 	---- for more examples look at: ------
# ---> https://cloudinit.readthedocs.io/en/latest/topics/examples.html
# ******************************
#
# This is the configuration syntax that the write_files module
# will know how to understand. encoding can be given b64 or gzip or (gz+b64).
# The content will be decoded accordingly and then written to the path that is
# provided.
#
# Note: Content strings here are truncated for example purposes.
ssh_pwauth: True
chpasswd:
  list: |
     root:sesamo
  expire: False

users:
  - name: jasonsaavedra
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD2LwJtgbOc/dQ6g/OztOJjE4GzStT58GWj+PU8sUBTK8D+R7ouEwhwKAxWtYUqnKGPk+2S0Z78/SXl84jxLRbLpjo/i4MhfBmisfv6Dkk8BbjP2miH33ZjVkoxdrdvca9a90UWYeTaIP4j9FOiq8baYqMc8tZ+Tc5bs8rMDDvKZYX5qR5cHcJHUGrYOWr9dx447fLssoI86HvEsV6vvzyloqpu51M7/gxjYsLYS38D06iG2CwckLxfxxn3ex/ZAhNNpO4kH/XwrD0UpM6caU+pDnxjEwq1S9Dg7ZECZp/YkAwmq3NL0wqP95dvFsVmnzdC9hDCIYHPPrRyrPOmVC6J jason@jason-Virtual-Machine 
    sudo: ['ALL=(ALL) NOPASSWD:ALL']
    shell: /bin/bash
    groups: sudo	
